Cargar_salida_de_modelos_ELI.ipynb
drive-download-20240831T213820Z-001.zip
Ekman1905.pdf
grafico_eli_con_iter.ipynb
Guia_1_M copy.ipynb
ejercicio_2.ipynb
Guia_1_M.ipynb
Munk-Carrier_1950.pdf
ejercicio_2.ipynb
Guia_1.py

